body {
	font-family:tahoma;
	padding:0px;
	margin:0px;
	background:#f5f5f5;
}

div.content {
/*	padding:10px 205px;*/
	padding-top:100px;
	margin: 0 auto;
	width: 100%;
	
}
div.content h1 {
	font-size:18pt;
	border-bottom:5px solid #a00;
	padding:0px;
	margin:10px 0px 20px;
	width:600%;
}

div.content div.data table {
	border-top:4px solid #999;
	border-bottom:4px solid #999;
	background:#fff;
	width:100%;
	margin: 0 auto;
}
div.content div.data table td {
	font-size:10pt;
	padding:5px 10px;
	border-bottom:1px solid #eee;
	text-align: left;
	
}
div.content div.data table th {
	text-align: left;
	font-size: 10pt;
	padding: 10px 10px 7px;
	text-transform: uppercase;
	color: #888;
	background-color: #eee;
	width:40px;
/*	background:url(images/head.gif) left -5px repeat-x;*/
}

div.content div.download{
	font-size:20pt;
	border:2px solid #000;
	background:#fff;
	width:100%;
	padding: 120px 5px 20px ;
}
div.message {
	text-align:center;
	font-size: 12pt;
	margin:5px 0px;
	color: #CC0000;
}
div.paging {
	text-align:center;
	font-size: 12pt;
	margin:5px 0px;
}
div.paging a {
	color:#900;
	text-transform: uppercase;
	text-decoration: none;
}
div.paging a:hover {
	color:#c00;
}
div.paging b {
	color:#900;
}

div.success {
	font-size:14pt;
	background:url(images/accept.png) left 5px no-repeat;
	padding:0px;
	padding-left:20px;
	margin:0px 0px 10px;
	color:#060;
	width:80%;
}

a.update, a.delete, a.add, a.copy, a.view, a.back, a.viewNoImage, a.edit {
	font-size: 9pt;
	color:#900;
	font-wight:bold;
	padding-left:20px;
	text-decoration: none;
}
a.update {
	background:url(images/update.png) left center no-repeat;
}
a.delete {
	background:url(images/delete.png) left center no-repeat;
}
a.add {
	background:url(images/add.png) left center no-repeat;
}
a.copy {
    background:url(images/copy.gif) left center no-repeat;
}
a.view {
	background:url(images/view.png) left center no-repeat;
}
a.back {
	background:url(images/prev.gif) left center no-repeat;
}
a.edit {
	background:url(images/edit.png) left center no-repeat;
}
a.update:hover, a.delete:hover, a.add:hover,a.copy:hover a.view:hover, a.viewNoImage:hover, a.edit:hover{
	color:#000;
}

input.text {
	border:2px solid #aaa;
}

.error {
	background: #FBE6F2 none repeat scroll 0 0;
	border: 1px solid #D893A1;
	color: #333333;
	margin: 5px 0 0;
	padding: 5px;
	font-size: 10px;
	font-family: Lucida Grande,Verdana,Geneva,Sans-serif;
}