@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'SquadaOneRegular';
    src: url('font/squadaone-regular-webfont.eot');
    src: url('font/squadaone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/squadaone-regular-webfont.woff') format('woff'),
         url('font/squadaone-regular-webfont.ttf') format('truetype'),
         url('font/squadaone-regular-webfont.svg#SquadaOneRegular') format('svg');
    font-weight: normal;
    font-style: normal;}

.template{
	margin-left: auto;
  margin-right: auto;
  width:1500px;
  height:2380px;}
 .black{
	margin-left: auto;
  margin-right: auto;
  width:1500px;
  background-color:#000;
  height:87px;
  }
.main{margin-left: auto;
  margin-right: auto;
  width:1500px;
  background-image:url(../img/02.png);
  height:2352px;
	}
 .center{margin-left: auto;
  margin-right: auto;
  width:950px;
	 }
.center1{margin-left: auto;
  margin-right: auto;
  width:950px;
	 }
	

.link{
	position:relative;
	padding-top:30px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#bfbfbf;}
.link a{
	text-decoration:none;
	color:#bfbfbf;
	text-transform:uppercase;}
.search{
	position:relative;
	float:right;
	padding-top:25px;}
.colortext{
	background-image:url(../img/01.png);
	width:240px;
	height:30px;
	border:hidden;
	}
.smm{
	position:relative;
	float:right;
	padding-top:20px;}
.smm a{
	padding-right:5px;}
.logo{
	position:relative;
	float:left;}
.navigation{
	position:relative;
	float:right;}
ul { 
	list-style:none;}

ul.menunav{	
position: relative;
float:right;
display:inline;
width:680px;
 text-align:center;}

 .menunav li {
	 float:right;
	height:60px;
		font-family: 'Oswald', sans-serif;
	 text-align:center;
				}

.menunav li a {
		padding-top:10px;
		padding-bottom:10px;
	 float:right;
	font-family: 'Oswald', sans-serif;
		 font-size:18px;
		 padding-right:25px;
		 padding-left:25px;
		 color:#000;
	text-decoration:none;
 text-align:center;
	}
.menunav li a:hover {
	color:#FFF;
	background-color:#e91b1b;
}
.slogan{
	    font-family: 'SquadaOneRegular';
		font-size:60px;
		color:#c2c2c2;
		text-transform:uppercase;
		text-align:center;
		padding-top:10px;}
.text1{
	font-family: 'Oswald', sans-serif;
	font-size:40px;
	color:#000;
	text-transform:uppercase;}
.text2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000;}
.text3{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#9d9c9c;}
.text4{font-family: 'SquadaOneRegular';
font-size:24px;
color:#e91b1b;
text-transform:uppercase;

	}
.vlin{	position:relative;
	float:left;
	padding-left:50px;
	padding-top:25px;}	
.glossary{
	position:relative;
	float:left;
	width:260px;}
.resourses{	position:relative;
	float:left;
	width:260px;
	padding-left:10px;}
.releases{	position:relative;
	float:left;
	padding-left:10px;
	width:260px;}
.about{
	position:relative;
	padding-top:20px;
	font-size:28px;
	color:#000;
		font-family: 'Oswald', sans-serif;
		text-transform:uppercase;}
.qua{
	position:relative;
	float:left;
	width:450px;}
.compan{
	position:relative;
	float:right;width:450px;}
.loremip{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#9d9c9c}
.lorem{font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;}
.imgimg{
	position:relative;
	padding-top:5px;}
.more1{font-family: 'SquadaOneRegular';
font-size:18px;
color:#000;
text-transform:uppercase;
font-weight:bold;
position:relative;

	}
.more1 a{font-family: 'SquadaOneRegular';
	text-decoration:none;
	color:#000;}
.more1 a:hover{font-family: 'SquadaOneRegular';
	color:#999898;
	}
.moreimg{
	position:relative;
	padding-left:5px;
	padding-right:5px;
		color:#999898;}
.more{
	position:relative;
	padding-bottom:20px;}
.text7{
	position:relative;
	padding-left:50px;
	
	font-size:26px;
	color:#000;
		font-family: 'Oswald', sans-serif;
	}
.contenttwo{
	position:relative;
	padding-top:20px;}
.practice{
	position:relative;
	float:left;
	width:221px;
	height:380px;
	background-image:url(../img/15.png);}

.practice ul{
	list-style-image:url(../img/16.png);
	color:#000;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:1.5;

	}
.practice ul a{
		color:#000;
		text-decoration:none;
	}
.shallimg{
	position:relative;
	float:left;
		padding-left:10px;}
.shalltext{
	position:relative;
	float:right;
	font-family: 'SquadaOneRegular';
	padding-left:10px;
	}
.shallcolor{font-family: 'SquadaOneRegular';
font-size:60px;
color:#F00;
text-transform:uppercase;}
.shallcolorr{font-family: 'SquadaOneRegular';
font-size:50px;
color:#000;
text-transform:uppercase;}
.textlorem{
	position:relative;
	float:left;}
.text5{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;
	position:relative;
	padding-top:10px;
	}
.text6{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#9d9c9c;
	}
.practice{
	position:relative;
	float:left;
	width:216px;}
.shall{
	position:relative;
	float:right;
	width:680px;}
.logotwo{
	position:relative;
	float:right;
	padding-top:60px;}
.newsletter{
	position:relative;
	float:left;
	background-image:url(../img/21.png);
    width:223px;
    height:191px;}
.text101{font-family: 'Oswald', sans-serif;
font-size:26px;
color:#000;
position:relative;
text-align:center;
}
.text10{ font-family: 'PTSansNarrowBold';
	font-size:30px;
	color:#000;
	text-transform:uppercase;
	text-align:center;}
	.phone{
	position:relative;
	float:left;}
.navfoot{
	position:relative;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#9b9b9b;
	padding-top:20px;
	padding-left:10px;
	}
.navfoot a{	color:#9b9b9b;
text-decoration:none;
	}
	.navfoot a:hover{
		color:#000;}
.vlinks{
	position:relative;
	float:left;
	padding-top:10px;
	padding-left:30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#9b9b9b;}
.vlinks a{	color:#9b9b9b;
text-decoration:none;

	}
.vlinks a:hover{
		color:#000;}
.logofoot{
	position:relative;
	float:right;}