/* ==========================================================================
 Project:
 vision: V1.0.0
 Program:

 Creat Date:
 Release Date:
 Aauthor: MKTsai
 E-mail: mktsai@sweea.com

 history:

 Copyright (c) 2013 Sweea.com All rights reserved.
 ========================================================================== */

/*General*/
html {
	height: 100%;
}
body {
	font: 12pt Verdana, "微軟正黑體", "Microsoft JhengHei", 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
	color: #333;
	height: 100%;
	min-width: 1024px;
}
img {
	border: 0;
	vertical-align: middle;
}
b, strong, caption, th, thead, dt, legend {
	font-weight: bold;
}
a {
	color: #2366ff;
	text-decoration: none;
}
a:hover {
	color: #2b7cdf;
}
input, textarea {
	outline: none;
}

input, textarea {
	border: 1px solid #aaa;
	text-shadow: 1px 1px 1px #fff;
}
input:hover, textarea:hover {
	border: #da4500 solid 1px;
}
input:active, textarea:active {
	border: #c9a42a solid 1px;
}
input:focus, textarea:focus {

}
button {
	background-image: -webkit-linear-gradient(#EDEDED, #EDEDED 38%, #DEDEDE);
	border: 1px solid rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
	color: #444;
	font: inherit;
	margin: 0 1px 0 0;
	padding: 3px 10px;
	cursor: pointer;
}
button:hover {
	border: 1px solid rgba(0, 0, 0, 0.5);
	color: #000;
}
button:active {
	background-image: linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);
	background-image: -webkit-linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);
	box-shadow: inset 0 1px 1px rgba(33, 33, 33, 0.75);
}
button.green {
	background-image: linear-gradient(#3cb05e, #3cb05e 38%, #3cb05e);
	background-image: -webkit-linear-gradient(#3cb05e, #3cb05e 38%, #3cb05e);
	background: #3cb05e;
	color: #fff;
}

button.green:active {

	background-image: linear-gradient(#2d9143, #2d9143 38%, #2d9143);
	background-image: -webkit-linear-gradient(#2d9143, #2d9143 38%, #2d9143);
	background: #2d9143;
}
button.red {
	background-image: linear-gradient(#c51700, #c51700 38%, #c51700);
	background-image: -webkit-linear-gradient(#c51700, #c51700 38%, #c51700);
	background: #c51700;
	color: #fff;
}
button.red:active {
	background-image: linear-gradient(#9b0106, #9b0106 38%, #9b0106);
	background-image: -webkit-linear-gradient(#9b0106, #9b0106 38%, #9b0106);
	background: #9b0106;
}
button.blue {
	background-image: linear-gradient(#005bb5, #005bb5 38%, #005bb5);
	background-image: -webkit-linear-gradient(#005bb5, #005bb5 38%, #005bb5);
	background: #005bb5;
	color: #fff;
}
button.blue:active {
	background-image: linear-gradient(#04398d, #04398d 38%, #04398d);
	background-image: -webkit-linear-gradient(#04398d, #04398d 38%, #04398d);
	background: #04398d;
}
button.green:hover, button.red:hover, button.blue:hover {
	border: 1px solid rgba(0, 0, 0, 0.9);
}
label {
	padding-right: 5px;
}
label.required:before {
	content: "*";
	color: red;
}
.hidden {
	display: none;
}
.red {
	color: red;
}
.yellow {
	color: yellow;
}
.orange {
	color: #f98239;
}
.green {
	color: green;
}
.blue {
	color: blue;
}
.note {
	color: #777;
}
.darkgray {
	color: #666;
}
.darkbg {
	background-color: #ddd;
}
.disabled {
	background-color: #ccc;
	cursor: not-allowed;
}
.font10px {
	font-size: 10px;
}
.font12px {
	font-size: 12px;
}
.font14px {
	font-size: 14px;
}
.font16px {
	font-size: 16px;
}
.font20px {
	font-size: 20px;
}
.bold {
	font-weight: bold;
}
.opacity50 {
	filter: alpha(opacity=50);
	-moz-opacity: 0.50;
	opacity: 0.50;
}
.left {
	float: left;
}
.right {
	float: right;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.marginCenter {
	margin: 0 auto;
}
.block {
	display: block;
}
.clear {
	clear: both;
}
.width10 {
	width: 10%;
}
.width15 {
	width: 15%;
}
.width20 {
	width: 20%;
}
.width25 {
	width: 25%;
}
.width30 {
	width: 30%;
}
.width33 {
	width: 33%;
}
.width40 {
	width: 40%;
}
.width45 {
	width: 45%;
}
.width46 {
	width: 46%;
}
.width47 {
	width: 47%;
}
.width50 {
	width: 50%;
}
.width60 {
	width: 60%;
}
.width70 {
	width: 70%;
}
.width75 {
	width: 75%;
}
.width80 {
	width: 80%;
}
.width90 {
	width: 90%;
}
.width98 {
	width: 98%;
}
.width100 {
	width: 100%;
}

.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
.brack-word {
	word-wrap: break-word;
	word-break: break-all;
}
/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
	zoom: 1;
}
/* End hide from IE-mac */
/*blocks*/

/*基本*/
div.container {
	min-height: 400px;
}
div.wrapper {
	margin: 0 auto;
	width: 970px;
	position: relative;
}
fieldset {
	border: 1px solid #ddd;
}
legend {
	color: #333;
	font-weight: 800;
	background: #fff;
	font-size: 16pt;
}

/* a element Buttons
 ---------------------------------------------------------------------*/

.btn {
	display: inline-block;
	padding: 5px 10px;
	color: #777 !important;
	text-decoration: none;
	font-weight: bold;
	font-size: 11px;
	font-family: Tahoma, Arial, sans-serif;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(255,255,255,0.9);
	position: relative;
	cursor: pointer;
	border: 1px solid #ccc !important;
	background: #fff url("../images/base/btn-overlay.png") repeat-x !important;
}
.btn:hover, .btn:focus {
	outline: medium none;
	border: 1px solid #329ECC !important;
	opacity: 0.9;
	-khtml-opacity: .9;
	-moz-opacity: 0.9;
	-moz-box-shadow: 0 0 5px rgba(82, 168, 236, 0.5);
	-webkit-box-shadow: 0 0 5px rgba(82, 168, 236, 0.5);
	box-shadow: 0 0 5px rgba(82, 168, 236, 0.5);
}

.btn:active {
	outline: medium none;
	border: 1px solid #146d93 !important;
	opacity: 1;
	-khtml-opacity: 1;
	-moz-opacity: 1;
	-moz-box-shadow: 0 0 5px rgba(82, 168, 236, 0.5);
	-webkit-box-shadow: 0 0 5px rgba(82, 168, 236, 0.5);
	box-shadow: 0 0 5px rgba(82, 168, 236, 0.5);
}

.btn-green {
	color: #fff !important;
	text-shadow: 0 1px 1px rgba(0,0,0,0.25);
	border: 1px solid #749217 !important;
	background-color: #6AB620 !important;
}
.btn-green:hover, .btn-green:focus, .btn-green:active {
	-moz-box-shadow: 0 0 5px rgba(116, 146, 23, 0.9);
	-webkit-box-shadow: 0 0 5px rgba(116, 146, 23, 0.9);
	box-shadow: 0 0 5px rgba(116, 146, 23, 0.9);
	border: 1px solid #749217 !important;
}

.btn-blue {
	color: #fff !important;
	text-shadow: 0 1px 1px rgba(0,0,0,0.25);
	border: 1px solid #2D69AC !important;
	background-color: #3C6ED1 !important;
}
.btn-blue:hover, .btn-blue:focus, .btn-blue:active {
	-moz-box-shadow: 0 0 5px rgba(71, 131, 243, 0.9);
	-webkit-box-shadow: 0 0 5px rgba(71, 131, 243, 0.9);
	box-shadow: 0 0 5px rgba(71, 131, 243, 0.9);
	border: 1px solid #2D69AC !important;
}

.btn-red {
	color: #fff !important;
	text-shadow: 0 1px 1px rgba(0,0,0,0.25);
	border: 1px solid #AE2B2B !important;
	background-color: #D22A2A !important;
}
.btn-red:hover, .btn-red:focus, .btn-red:active {
	-moz-box-shadow: 0 0 5px rgba(174, 43, 43, 0.9);
	-webkit-box-shadow: 0 0 5px rgba(174, 43, 43, 0.9);
	box-shadow: 0 0 5px rgba(174, 43, 43, 0.9);
	border: 1px solid #AE2B2B !important;
}

/** 效果 **/
/*
 -webkit-transition: -webkit-filter .6s linear;
 -moz-transition: -webkit-filter .6s linear;
 -o-transition: -webkit-filter .6s linear;
 transition: -webkit-filter .6s linear;
 -webkit-filter: blur(10px);

 -webkit-filter: filter(value);
 -moz-filter: filter(value);
 -o-filter: filter(value);
 -ms-filter: filter(value);
 */
.page_link {
	text-align: center;
	padding: 10px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header {
	margin-bottom: 8px;
}
.ui-timepicker-div dl {
	text-align: left;
}
.ui-timepicker-div dl dt {
	height: 25px;
	margin-bottom: -25px;
}
.ui-timepicker-div dl dd {
	margin: 0 10px 10px 65px;
}
.ui-timepicker-div td {
	font-size: 90%;
}
.ui-tpicker-grid-label {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}

.ui-timepicker-rtl {
	direction: rtl;
}
.ui-timepicker-rtl dl {
	text-align: right;
}
.ui-timepicker-rtl dl dd {
	margin: 0 65px 10px 10px;
}
