body {
	background-color: #eee;
}
b {
	color:blue;
}
/******* 頁首 *******/
header {

}
header div.systemName {
	background-color: #666;
	padding: 10px;
	border-bottom: solid 1px #333;
	color: #fff;
}
header img {
	margin: 10px;
}
div.noscript {
	padding: 10px;
	color: #fff;
	background-color: #b20001;
}

/******* 登入 *******/
div.login_area {
	width: 300px;
	margin: 0 auto;
}

/******* 問卷列表bar *******/
#survey_list_title {
	background-color: #333333;
	padding: 10px;
	color: #fff;
	text-align: center;
}
div.list_box {

}
table.results{
	font-size:10pt;
}
table.results td{
	text-align:center;
}
table.lists {
	width: 100%;
}
table.lists th {
	background-color: #999;
	color: #fff;
	padding: 5px;
	vertical-align: middle;
}
table.lists tr:hover {
	background-color: #f9f9f9;
}
table.lists td {
	padding: 10px;
	border-bottom: solid 1px #aaa;
	min-width: 55px;
}
table.lists td:first-child {

}
table.lists td:last-child {

}
table.lists td.action_btn {
	width: 120px;
}
table.lists td.doAnswerDate{
	width: 210px;
}
div.sampleProgress{
	min-width:250px;
	background-color:#999;
	border:#444 solid 2px;
	height:20px;
}
div.sampleProgress span{
	background-color:#a6ffca;
	height:20px;
	display:block;
	width:0;
}
div.sampleProgress span.notyet{
	background-color:#e494a3;
}


#mask_loading {
	display: none;
	position: absolute;
	top: 0;
	z-index: 999;
	width: 100%;
	text-align: center;
	background-color: rgba(100,100,100, 0.5);
}
div.loading_box {
	padding: 30px;
	border: #333333 solid 1px;
	background-color: #fff;
	width: 100px;
	margin: 100px auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

/** 作答中 **/
#answer{
	width:950px;
	margin:0 auto;
	background-color:#fff;
	
}

#answer a{
	color:#333;
}

div.question{
	min-height:300px;
}

ul.situation, ul.situation ul{
	list-style:none;
	padding-left:0;
}

ul.situation{
	padding:20px;
}
ul.situation a{
	display:block;
	width:100%;
}


ul.situation li {
	background-color:#ddd;
	padding:10px;
}
ul.situation > li:hover {
	background-color:#eee;
}
ul.situation > li > ul > li {
	padding-left:10px;
	background-color:#eee;
}
ul.situation li > a:hover{
	text-decoration: underline;
}


ul.situation ul{
	display:none;
}

div.question,div.nav_buttons{
	display:none;
}

div.question h3{
	padding:10px;
	background-color:#fff8ec;
	border-bottom:#aaa dashed 1px;
}

div.surveyIntro,div.ending{
	padding:20px;
}
div.ending{
	display:none;
}
a.continueSurvey{
	display:block;
	text-align:center;
	width:200px;
	font-size:16pt;
	margin:0 auto;
}
a.endSurvey{
	display:block;
	text-align:center;
	width:300px;
	font-size:16pt;
	margin:0 auto;
}

div.options{
	padding:0px 20px 20px;
	font-size:14pt;
	line-height:18pt;
}


/** "S" 單選題, "M" 多選題, **/
ul.S, ul.M{
	list-style:none;
	padding-left:0px;
	width:100%;
}
ul.S li, ul.M li{
	margin:5px 0;
	vertical-align: top;
}
ul.S li.Vertical, ul.M li.Vertical{
	
}
ul.S li.Horizontal, ul.M li.Horizontal{
	display:inline-block;
	width:50%;
}
		
	
/** "T" 文字輸入題, **/
ul.T{
	list-style:none;
	padding-left:0px;
	width:100%;
}
ul.T li{
	margin:5px 0;
	vertical-align: top;
}
ul.T li input{
	width:100px;
}
ul.T div{
	display:inline-block;
}
input.addr-zip{
	display:none;
}
/** "FO" 四分題, **/
ul.FO{
	list-style:none;
	padding-left:0px;
	width:100%;
}
ul.FO li{
	display:inline-block;
	width:25%;
	margin:5px 0;
	text-align:center;
	vertical-align: top;
}
ul.FO li label{
	padding-right: 0px;
}
	
/** "FI"五分題, **/
ul.FI{
	list-style:none;
	padding-left:0px;
	width:100%;
	text-align:center;
}
ul.FI li{
	display:inline-block;
	width:20%;
	margin:5px 0;
	vertical-align: top;
}
ul.FI li label{
	padding-right: 0px;
}
	
/** "P" 下拉式清單, **/
div.options select{
	font-size:18pt;
	
}
ul.P{
	list-style:none;
	padding-left:0px;
	width:100%;
	text-align:left;
	font-size:18pt;
}
ul.P li{
	margin:5px 0;
	vertical-align: top;
}
	
/** "G"群組題**/
ul.G, ul.G > ul{
	list-style:none;
	padding-left:0px;
	width:100%;
}
ul.G.level0 table{
	width:100%;
}
ul.G.level0 table td:first-child{
	width:130px;
}
ul.G.level0 > li{	
	border-bottom:solid #aaa 1px;
}
ul.G.level0 > li:last-child{	
	border-bottom:none;
}
ul.G.level0 ul.level1
{
	padding-left:0px;
}
ul.G li{
	margin:5px 0;
	vertical-align: top;
}
ul.G li label{
	display: inline-block;
	text-indent: -1em;
	margin-left: 1em;
}

ul.G li.Horizontal{
	display:inline-block;
	width:50%;
}
button.next_question, button.prev_question{
	font-size:16pt;
}

#tips{
	display:none;
	position: fixed;
	bottom: 10px;
	width:500px;
	left:50%;
	margin-left:-250px;
	border: solid 2px #fd6d37;
	background-color:#fff8ec;
	padding:10px;
}

#footer {
	text-align: center;
	color: #333;
	width: 100%;
	height:20px;
}