div#notify{
	position: fixed;
	z-index: 999;
	top: 250px;
	left:50%;
	margin-left:-150px;
	display: none;
	text-align: center;
	background-color: #000;
	border: #ddd solid 2px;
	filter: alpha(opacity=90);
	-moz-opacity: 0.97;
	opacity: 0.9;
	border-radius: 5px; /*Opera 10.5 + 四邊一起宣告相同值*/
	-moz-border-radius: 5px; /*Firefox 四邊一起宣告相同值*/
	-webkit-border-radius: 5px; /*Safari 和 Chrome 四邊一起宣告相同值*/	
	width: 300px;
	word-break: break-all;
}
div#notifyInfo{
	padding: 10px;
	color: #fff;
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}
a.closeX{
	border-radius: 5px; /*Opera 10.5 + 四邊一起宣告相同值*/
	-moz-border-radius: 5px; /*Firefox 四邊一起宣告相同值*/
	-webkit-border-radius: 5px; /*Safari 和 Chrome 四邊一起宣告相同值*/	
	position: absolute;
	display: block;
	padding: 1px 3px;
	top: 3px;
	right: 5px;
	color: #fff;
	font-weight: bold;
}
a.closeX:hover{
	color: #666;
	background-color: #ddd;
}