/* 

CUSTOM STYLESHEET

Add your custom styles here instead of style.css so it is easier to 
update the template. Simply copy an existing style from style.css to 
this file, and modify it to your liking. 

*/
.box-interviewer-info {
	padding-left: 32px;
	border-top:1px solid #FF9D37;
	border-bottom:1px solid #FF9D37;
	background:#FFC991 url("../img/information.png") no-repeat 8px 50%;
}
#container {
	margin:0 auto;
  	width:990px;
}
  
#leftColumn {
	background-color:#eee;
 	float:left;
  	width:200px;   /* 最小行高 */
  	
  	padding-bottom:80%;
}

#rightColumn {
/*	background-color:#ddd;*/
  	float:right;
  	width:790px;     /* 最小行高 */
  	text-align: right;
}

.survey-left-menu{
	list-style: none;
	font-size:14px;
}

.survey-left-menu a {
	text-decoration: none;
	display: block;
	padding: 1em;
	width:9em;
	border-bottom: 1px solid #ddd;
	color: #706F65;
}

.survey-left-menu a:hover{
	color:#fff;
	background:#aaa;	
}

.error {
	color:#990000;
}

#form_open,#option-div {
    margin:15px 0px;
    padding:5px 15px 20px;
    background:#e2e2e2;
    border:#828282 1px solid;
}


#singlePass-div,#groupPass-div,#dyPass-div {
    width:760px;
    margin:15px 0px;
    padding:5px 15px 20px;
    background:#FFF5CC;
    border:#c09853 1px solid;
}

input[type="submit"] {
    width: 72px;
    height: 29px;
    color: #fff;
    background-color: #ccc;
    border:solid thin #ddd;
    outline: none;

    -moz-box-shadow: 0 0 3px #333;
    background: url('../img/web-save-button.png') no-repeat top left;
    /* or for outline:
    -moz-outline: 1px solid #c00;
    */
}

input[type="submit"]:hover {
    width: 72px;
    height: 29px;
    color: #fff;
    background-color: #ccc;
    border:solid thin #ddd;
    outline: none;

    -moz-box-shadow: 0 0 3px #333;
    background: url('../img/web-save-button-hover.png') no-repeat top left;
    /* or for outline:
    -moz-outline: 1px solid #c00;
    */
}

#deleteActionTop,#deleteActionBottom{
    display: block;
    float: left;
}
b {
	color:blue;
}
.red{
	color:red;
}
pre.code{
	font-size:8pt;
}
.td_title{
	width:270px;
}
.td_date{
	width:130px;
}
.td_ver{
	width:30px;
}
.td_download{
	width:240px;
}
.td_action{
	width:220px;
}
a.viewNoImage{
	padding-left:0px;
}

